<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="NHSBSA.TestCase1_Start"/>
      <class name="NHSBSA.TestCase2_CountryTest"/>
      
      
      
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
